body{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 72px 140px 0;
}

h1{
  font-weight: 800;
  font-size: 74px;
}

#controls{
  display: inline-block;
  width: 46%;
  border-right: 1px solid rgba(0,0,0, .4);
  padding-bottom: 42px;
  padding-right: 42px;
}
/* n5alli espace entre minutes et seconds */
 .input-group{
   margin: 26px 0;
 }

label{
  display: inline-block;
  /* espace etre kelmet seconds and case b 24% mel width total */
  width: 24%;
  font-weight: 200;
  font-size: 30px;
  padding: 12px;
}

input{
  width: 60%;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.4);
  padding-left: 6px;
  font-weight: 200;
  /* outline c le ligne li yatla3 kif nenzel 3la button bel bleu najem netsarref fih kima lborder */
  outline: none;
}

/* input disabled manajamech n7ot 7atta input fel case pour le test nzid "disabled" f awel input mta3 les minutes taw nal9a li manajamech nda5el 7atta valeur fel case minute */
input:disabled{
  background-color:  white;
  opacity: .6;
}

button{
  background-color: #222;
  color: white;
  padding: 12px 62px;
  border: none;
  outline: none;
}

button:hover{
  opactiy: .9;
}

button:disabled{
  opacity: .3;
}


h2 {
    display: inline-block;
    vertical-align: top;
    font-weight: 200;
    font-size: 144px;
    margin: 12px 0;
    padding-left: 100px;
}
